@mixin control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: var(--due-radius);
  box-shadow: none;
}

@mixin transition($transition...) {
  @media (prefers-reduced-motion: no-preference) {
    transition: $transition;
  }
}

//
// Placeholder selectors
//

%control {
  @include control;
}
