.content {
  overflow-wrap: break-word;

  //
  // Vertical block spacing
  //

  > *:not(:last-child) {
    margin-bottom: calc(var(--du-space-m) * var(--du-block-space-y-multiplier, 1));
  }

  h1,
  h2,
  h3,
  h4 {
    &:not(:first-child) {
      margin-top: calc(var(--du-space-xl) * var(--du-block-space-y-multiplier, 1));
    }
  }

  hr {
    width: 100%;
    margin: calc(var(--du-space-m) * var(--du-block-space-y-multiplier, 1)) auto;
  }

  //
  // Headings
  //

  h1,
  h2,
  h3,
  h4 {
    line-height: var(--du-line-height-heading);
  }

  h1 { font-size: var(--du-text-2); }
  h2 { font-size: var(--du-text-3); }
  h3 { font-size: var(--du-text-4); }
  h4 { font-size: var(--du-text-5); }
  h5, h6 { font-size: var(--du-text-6); }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  //
  // Text-level semantics
  //

  li + li {
    margin-top: calc(var(--du-space-2xs) * var(--du-block-space-y-multiplier, 1));
  }

  //
  // Common content elements
  //

  ul,
  ol,
  dd {
    &:not([class]) {
      margin-left: 2em;
    }
  }

  ul {
    list-style: disc outside;

    ul {
      list-style-type: circle;
      margin-top: calc(var(--du-space-xs) * var(--du-block-space-y-multiplier, 1));
    }
  }

  ol {
    list-style: decimal outside;
  }

  blockquote {
    background-color: var(--du-color-contrast-lowest);
    border-left: 5px solid var(--du-color-contrast-lower);
    padding: var(--du-space-s) 2em var(--du-space-s) calc(2em - 5px);
  }

  figure {
    text-align: center;
    // margin-right: 2em;
    // margin-left: 2em;

    img {
      display: inline-block;
    }

    figcaption {
      margin-top: calc(var(--du-space-xs) * var(--du-block-space-y-multiplier, 1));
      line-height: var(--du-line-height-heading);
    }
  }
}
