@use '../abstracts/functions';

html {
  min-width: 320px;
  font-size: calc(1rem + (18 - 16) * var(--du-fluid-bp));
  background-color: var(--du-color-background, white);
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  font-family: var(--du-font-family-normal);
  line-height: var(--du-line-height-normal);
  color: var(--du-color-text);
}

a {
  cursor: pointer;
  color: var(--du-color-link);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-color: currentcolor;
  text-decoration-thickness: auto;
  text-decoration-skip-ink: auto;

  &:hover {
    color: var(--du-color-link-hover);
  }
}

// Change the fill color to match the text color
svg:not([fill]) {
  fill: currentColor;
}

button {
  touch-action: manipulation;
}

[id] {
  scroll-margin-top: 2ex;
}

// Hide focus styles if they're not needed, for example,
// when an element receives focus via the mouse
:focus:not(:focus-visible) {
  outline: none;
}

// Show focus styles on keyboard focus
:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}
