@use "../abstracts/mixins";

.block {
  @extend %block;
}

.unselectable {
  @extend %unselectable;
}

.stretched-link {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}

// https://web.dev/centering-in-css/
.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1ch;
}
