//
// Global custom properties
//

:root {
  --du-font-family-normal: system-ui, -apple-system, 'Segoe UI', Roboto,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --du-font-family-heading: var(--du-font-family-normal);
  --du-line-height-normal: calc(1ex / 0.32);
  --du-line-height-tight: calc(1ex / 0.42);

  --du-text-scale-ratio: 1.2;
  --du-text-lg: calc(1rem * var(--du-text-scale-ratio));
  --du-text-xl: calc(var(--du-text-lg) * var(--du-text-scale-ratio));
  --du-text-2xl: calc(var(--du-text-xl) * var(--du-text-scale-ratio));
  --du-text-3xl: calc(var(--du-text-2xl) * var(--du-text-scale-ratio));
  --du-text-4xl: calc(var(--du-text-3xl) * var(--du-text-scale-ratio));
}

//
// Semantic color definitions & themes
//

:root:not([data-theme]),
[data-theme='light'] {
  // Shades
  --du-color-contrast-lowest: #f3f4f6; // 100
  --du-color-contrast-lower: #e5e7eb; // 200
  --du-color-contrast-low: #d1d5db; // 300
  --du-color-contrast-medium: #6b7280; // 500
  --du-color-contrast-high: #1f2937; // 800
  --du-color-contrast-higher: #111827; // 900

  // Semantic color definitions
  --du-color-background: white;
  --du-color-text: var(--du-color-contrast-higher);
  --du-color-link: var(--du-color-primary);
  --du-color-link-hover: var(--du-color-text);
}

[data-theme='dark'] {
  // Shades
  --du-color-contrast-lowest: #1f2937; // 800
  --du-color-contrast-lower: #374151; // 700
  --du-color-contrast-low: #4b5563; // 600
  --du-color-contrast-medium: #9ca3af; // 400
  --du-color-contrast-high: #f3f4f6; // 100
  --du-color-contrast-higher: #f9fafb; // 50

  // Semantic color definitions
  --du-color-background: #111827; // 900
  --du-color-text: white;
  --du-color-link: var(--du-color-primary);
  --du-color-link-hover: var(--du-color-text);
}
